<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    {% block title %}
        <title>Yutariya</title>
    {% endblock %}
    {% load static from staticfiles %}
    <link href={% static "shop/css/bootstrap.css" %} rel='stylesheet' type='text/css'/>
    <link href={% static "shop/css/style.css" %} rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script src={% static "shop/js/jquery.min.js" %}></script>
    <!--<script src="js/jquery.easydropdown.js"></script>-->
    <!--start slider -->
    <link rel="stylesheet" href={% static "shop/css/fwslider.css" %} media="all">
    <script src={% static "shop/js/jquery-ui.min.js" %}></script>
    <script src={% static "shop/js/fwslider.js" %}></script>
    <!--end slider -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-left">
                    <div class="logo">
                        <a href="{% url 'shop:index' %}"><img src={% static "shop/samples/needle.png" %} alt=""/></a>
                    </div>
                    <div class="menu">
                        <a class="toggleMenu" href="#"><img src={% static "shop/images/nav.png" %} alt=""/></a>
                        <ul class="nav" id="nav">
                            <li><a href="{% url 'shop:store' %}">Магазин</a></li>
                            <li><a href="shop.html">Компания</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                            <div class="clear"></div>
                        </ul>
                        <script type="text/javascript" src={% static "shop/js/responsive-nav.js" %}></script>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_right">
                    <!-- start search-->
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input" placeholder="Введите ваш поисковой запрос..." type="search"
                                       name="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>
                    <!----search-scripts---->
                    <script src={% static "shop/js/classie.js" %}></script>
                    <script src={% static "shop/js/uisearch.js" %}></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>
                    <!----//search-scripts---->
                    <ul class="icon1 sub-icon1 profile_img">
                        <li><a class="active-icon c1" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <div class="product_control_buttons">
                                    <a href="#"><img src={% static "shop/images/edit.png" %} alt=""/></a>
                                    <a href="#"><img src={% static "shop/images/close_edit.png" %} alt=""/></a>
                                </div>
                                <div class="clear"></div>
                            </ul>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{#--------------------------------------#}
{% block content %}
    <div class="banner">
        <!-- start slider -->
        <div id="fwslider">
            <div class="slider_container">
                <div class="slide">
                    <!-- Slide image -->
                    <img src={% static "shop/samples/main7.jpg" %} class="img-responsive" alt=""/>
                    <!-- /Slide image -->
                    <!-- Texts container -->
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <!-- Text title -->
                            <h1 class="title">Лучший пошив</h1>
                            <!-- /Text title -->
                            <div class="button"><a href="#">Смотреть детали</a></div>
                        </div>
                    </div>
                    <!-- /Texts container -->
                </div>
                <!-- /Duplicate to create more slides -->
                <div class="slide">
                    <img src={% static "shop/samples/main1.jpg" %} class="img-responsive" alt=""/>
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <h1 class="title">Лучший пошив</h1>
                            <div class="button"><a href="#">Смотреть детали</a></div>
                        </div>
                    </div>
                </div>
                <!--/slide -->
            </div>
            <div class="timers"></div>
            <div class="slidePrev"><span></span></div>
            <div class="slideNext"><span></span></div>
        </div>
        <!--/slider -->
    </div>
    <div class="main">
        <div class="content-top">
            <h2>Примеры одежды</h2>
            <p>Одежда нашего производства является самой удобной и стойкой</p>
            <div class="close_but"><i class="close1"> </i></div>
            <ul id="flexiselDemo3">
                <li><img src={% static "shop/samples/9.jpg" %}/></li>
                <li><img src={% static "shop/samples/8.jpg" %}/></li>
                <li><img src={% static "shop/samples/7.jpg" %}/></li>
                <li><img src={% static "shop/samples/6.jpg" %}/></li>
                <li><img src={% static "shop/samples/5.jpeg" %}/></li>
            </ul>
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo3").flexisel({
                        visibleItems: 5,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src={% static "shop/js/jquery.flexisel.js" %}></script>
        </div>
    </div>
    <div class="content-bottom">
        <div class="container">
            <div class="row content_bottom-text">
                <div class="col-md-7">
                    <h3>Yutaria Ltd.</h3>
                    <p class="m_1">ТОО «Производственно инновационная компания «Ютария Ltd» создано в 2014 году в
                        рамках Государственных программ«Дорожная карта бизнеса 2020» и ГПФИИР, благодаря проводимой
                        Президентом РК политике по поддержке предпринимательства, с использованием механизмов
                        субсидирования процентной ставки и гарантирования, исполнения обязательств перед АО «Фондом
                        развития предпринимательства «Даму».

                        Площадь производственного комплекса составляет свыше 7000 кв.м., включающий в себя
                        производственные, вспомогательные, служебные, складские и административные помещения на участке
                        в 2 га земли.Компания является национальным инвестором в развитии Свободной экономической зоны.

                        Предприятие оснащено автоматизированным оборудованием фирмы «ZOJE», известного международного
                        бренда, поставляющего на мировой рынок более 40% швейного и специализированного оборудования для
                        предприятий легкой промышленности.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="footer_box">
                    <h4>Инфо</h4>
                    <li><a href="#">Карьера и стажировка</a></li>
                    <li><a href="#">Спонсоры</a></li>
                    <li><a href="#">Команда</a></li>
                    <li><a href="#">Скачать каталог</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer_box">
                    <h4>Поддержка пользователей</h4>
                    <li><a href="#">Свяжитесь с нами</a></li>
                    <li><a href="#">Отправка и трэкер заказа</a></li>
                    <li><a href="#">Легкий возврат средств</a></li>
                    <li><a href="#">Гарантия</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer_box">
                    <h4>Новости</h4>
                    <div class="footer_search">
                        <form>
                            <input type="text" value="Введите ваш email" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'Введите ваш email';}">
                            <input type="submit" value="Вперед">
                        </form>
                    </div>
                    <ul class="social">
                        <li class="facebook"><a href="#"><span> </span></a></li>
                        <li class="twitter"><a href="#"><span> </span></a></li>
                        <li class="instagram"><a href="#"><span> </span></a></li>
                        <li class="pinterest"><a href="#"><span> </span></a></li>
                        <li class="youtube"><a href="#"><span> </span></a></li>
                    </ul>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>